
<div class = "row login_form">
  <div class="col-md-6">

    <div class="form-group row">
      <span class="col-xs-3 col-form-label">Stara šifra</span>
      <div class="col-xs-9">
        <input type="password" class="form-control">
      </div>
    </div>

    <div class="form-group row">
      <span class="col-xs-3 col-form-label">Nova šifra</span>
      <div class="col-xs-9">
        <input type="password" class="form-control">
      </div>
    </div>

    <div class="actions row">
      <div class="col-xs-3 col-form-label"></div>
      <div class="col-xs-9">
        <button class="btn btn-primary" style="width: 150px;">Promjena šifre</button>
      </div>
    </div>
    
  </div>

  <div class="col-md-6">
  </div>
  </div>






