<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Naziv</th>
    </tr>
  </thead>

  <tbody>
    <% @academic_years.each do |academic_year| %>
      <tr>
        <td><%= academic_year.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>