@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
	background-color: #bbbbff;
  	border-color: #a7a7f8;
}

.container {
	margin-left: 20px;
	margin-right: 20px;
	width: 95%;
}

.sidebar {
	margin-top: 50px;
	font-size: 16px;
}

.sidebar_item {
	margin-bottom: 10px;
}

.user_info {
	margin-top: 10px;
    float: right;
    padding: 7px;
   	border:1px solid black;
    font-size: 13px;
}

user_info.link_to_logout {
	text-align: right;
}

.subject_buttons {
	float: right;
}

.button_to,
.button_to div {
  display: inline;
}

.subject_table {
	font-size: 12px;
}

.subject_table_header {
	font-size: 14px;
}


.documents {
  width: 300px;
}

.teacher_checkboxes {
    border-radius: 5px;
    border: 2px solid #bbbbff;
    padding: 20px;
    width: 350px;
}

.ensemble_buttons {
  
}

.add_new_role {


}

.new_role_button {
  margin-top: 20 0 40 0px ;
  padding: 10;
  float: right;


}


.navbar-default {
  background-color: #bbbbff;
  border-color: #a7a7f8;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #78767b;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #78767b;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #bbbbff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #78767b;
  background-color: #a7a7f8;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #a7a7f8;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #78767b;
  background-color: #a7a7f8;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #78767b;
  background-color: #a7a7f8;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #78767b;
  background-color: #a7a7f8;
}
.navbar-default .navbar-toggle {
  border-color: #a7a7f8;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #a7a7f8;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #78767b;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #78767b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #78767b;
    background-color: #a7a7f8;
  }
}